.delivery-time-fields{
    overflow: hidden;
}
.error-message, .wc-checkout-login-form, .woocommerce-additional-fields, div#customer_details, .checkout-delivery-step, form.woocommerce-checkout, .oak-facts-section-wrapper{
    display: none;
}
.oak-checkout-login-form{
    margin-bottom: 25px;
}